
<header class="header">
  <div class="container">
    <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
  </div>
</header>
<div class="banner" style="background: url(./assets/images/banner.png) no-repeat bottom center #f8f8f8;background-size: cover; ">
  <div class="bannercont container">
    <h1>Mortgage Protection built for the Digital Age</h1> 
    <p>Instant Quote. Instant Apply. No Hassle.</p>
    <a href="#" class="gladientbtn">CHECK OUR PRICES</a>
  </div>

 

 
    <span class="bancloude1"><img src="assets/images/ban-cloud1.png" alt=""></span>
    <span class="bancloude2"><img src="assets/images/ban-cloud2.png" alt=""></span>
    <div class="car1">
       <div class="car-wrap">
        <img src="assets/images/car1.png" alt="">
      </div>
    </div>
    <div class="car2">
     <div class="car-wrap">
      <img src="assets/images/car2.png" alt="">
      </div>
    </div>

    <div class="car3">
       <div class="car-wrap">
      <img src="assets/images/car3.png" alt="">
      </div>
    </div>

</div>

<div class="featuredinsec">
  <div class="container">
    <div class="inner-feature">
       <h2>As Featured In:</h2>
       <ul>
         <li><img src="assets/images/featurelogo1.png" alt=""></li>
         <li><img src="assets/images/featurelogo2.png" alt=""></li>
         <li><img src="assets/images/featurelogo3.png" alt=""></li>
         <li><img src="assets/images/featurelogo4.png" alt=""></li>
       </ul>
  </div>
</div>
</div>

<div class="ouroptions" style="background: url(assets/images/fastestbg.jpg) no-repeat 0 0;background-size: 100% 100%;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 left-ouroptions">
        <figure>
          <img src="assets/images/optionlftimg.svg" alt="">
          <figcaption>
            <img src="assets/images/storeic.png" alt="">
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-6 right-ouroptions">
        <div class="headingOne">
        <h2>Fastest, Cheapest &<br> Easiest Mortgage<br> Protection in Ireland</h2>
        </div>
        <ul>
          <li><b>Lorem Ipsum:</b> enean sollicitudin, lorem quis 
            bibendum auctor</li>
          <li>Duis sed odio sit amet nibh vulputate cursus a sit amet 
            mauris. Morbi accumsan ipsum velit.</li>
          <li>Nam nec tellus a odio tincidunt auctor a ornare odio. 
            Sed non  mauris vitae erat consequat auctor eu in elit.</li>
          <li>Class aptent taciti sociosqu ad litora torquent per conubia 
            nostra, per inceptos himenaeos. Mauris in erat justo. </li>
          <li>Nullam ac urna eu felis dapibus condimentum sit</li>
        </ul>
      </div>
    </div>
  </div>
</div>  

<div class="dont-takeimg">
  <div class="container">
    <div class="dont-takeimg-wrap">
      <figure>
        <img src="assets/images/testimonialimg.svg" alt="">
        <figcaption>
          <img src="assets/images/smalltree1.svg" alt="" class="treeone hatching">
          <img src="assets/images/smalltree2.svg" alt="" class="treetwo hatching2">
          <img src="assets/images/likeic.png" alt="" class="likeic">
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<div class="dont-takesec gapsec">
  <div class="container">
      <div class="headingOne">
        <h2>Don’t Take It From Us</h2>
          <div class="slider-arrow">
          <a href="#" class="prevv"><img src="assets/images/left-arrow.svg" alt=""></a>
          <a href="#" class="nextt"><img src="assets/images/right-arrow-angle.svg" alt=""></a>
        </div>
      </div>
      <div class="testislider">
        <div>
            <div class="slider-inner">
              <div class="auth-name-img">
                <figure><img src="assets/images/testimgauth1.png" alt=""></figure>
                <div class="authname">
                  <h3>Andrew Horn</h3>
                  <h4>itsandrewhorn</h4>
                </div>
              </div>
              <p><strong>Proin gravida nibh</strong> vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem </p>
            </div>
        </div>
        <div>
            <div class="slider-inner">
              <div class="auth-name-img">
                <figure><img src="assets/images/testimgauth1.png" alt=""></figure>
                <div class="authname">
                  <h3>Andrew Horn</h3>
                  <h4>itsandrewhorn</h4>
                </div>
              </div>
              <p><strong>Proin gravida nibh</strong> vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem </p>
            </div>
        </div>
        <div>
            <div class="slider-inner">
              <div class="auth-name-img">
                <figure><img src="assets/images/testimgauth1.png" alt=""></figure>
                <div class="authname">
                  <h3>Andrew Horn</h3>
                  <h4>itsandrewhorn</h4>
                </div>
              </div>
              <p><strong>Proin gravida nibh</strong> vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem </p>
            </div>
        </div>
        <div>
            <div class="slider-inner">
              <div class="auth-name-img">
                <figure><img src="assets/images/testimgauth1.png" alt=""></figure>
                <div class="authname">
                  <h3>Andrew Horn</h3>
                  <h4>itsandrewhorn</h4>
                </div>
              </div>
              <p><strong>Proin gravida nibh</strong> vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem </p>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="beat-worksec">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="headingTwo">
          <h2>How Beat The Bank Works</h2>         
        </div>
         <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        <div class="how-work-listing">
          <ol>
            <li><span>We pay Claim</span><br> <strong>Super Fast</strong></li>
            <li><span>If there’s money leftover,<br> <strong>we Give It Back to Causes.</strong>.</span></li>
            <li><span><strong>A flat fee to</strong> <br>run everything</span></li>
          </ol>  
        </div>
      </div>
      <div class="col-lg-6 px-0 right-beat-worksec">
        <div class="right-beat-worksec">
          <figure>
            <img src="assets/images/how-workimg.svg" alt="">
            <figcaption>
              <img src="assets/images/tree3.svg" alt="" class="treeimg hatching">
              <img src="assets/images/treeborder.png" alt="">
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="cloudimgsec">
    <span class="cloudimg1"><img src="assets/images/how-work-cloud1.png" alt=""></span>
    <span class="cloudimg2"><img src="assets/images/how-work-cloud2.png" alt=""></span>
    <span class="cloudimg3"><img src="assets/images/how-work-cloud3.png" alt=""></span>
    <span class="cloudimg4"><img src="assets/images/how-work-cloud4.png" alt=""></span>
  </div>
</div>

<div class="already-insured">
  <div class="container">
    <div class="headingTwo">
      <h2>Already Insured? <br>Switch to Beat The bank Instantly</h2>
      <p>People left these insurance companies to join Beat The Bank:</p>
    </div>

    <div class="insuredinner">
      <ul>
        <li>
          <div class="item-insuredinner">
            <h5>From</h5>
            <h3>€10.10<sup> /mo</sup></h3>
            <p>Instant cover and affordable policies </p>
          </div>
        </li>

        <li>
          <div class="item-insuredinner">
            <div class="inner-already-insured">
            <h3>€400,000</h3>
            <p>Cover of up to </p>
            </div>
          </div>
        </li>

        <li>
          <div class="item-insuredinner">
            <div class="inner-already-insured">
            <h5>Extra</h5>
            <h3>10%</h3>
            <p>Discount for Beat The Bank members</p>       
          </div>
          </div>
        </li>

        <li>
          <div class="item-insuredinner">
            <div class="inner-already-insured">
            <h5>10%</h5>
            <p>Online discount</p>
          </div>
          </div>
        </li>

        <li>
          <div class="item-insuredinner">
            <div class="inner-already-insured">
            <h5>19%</h5> 
            <p>Allstate</p>
          </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <div class="cloud-treesec">
    <span class="insured-cloud1"><img src="assets/images/already-insured-cloud1.png" alt=""></span>
    <span class="insured-cloud2"><img src="assets/images/already-insured-cloud2.png" alt=""></span>
    <span class="insured-cloud3"><img src="assets/images/already-insured-cloud3.png" alt=""></span>
    <span class="insured-tree1 hatching"><img src="assets/images/tree3.svg" alt=""></span>
    <span class="insured-tree2"><img src="assets/images/already-insured-rightimg.png" alt="">
      <img src="assets/images/smalltree1.svg" alt="" class="hatching2">
    </span>
  </div>
</div>
 
 <footer class="footer">
   <div class="container">
      <div class="footer-inner">
        <div class="fooer-item-wrap">
          <div class="footer-item footer-logo">
            <a href="index.html"><img src="assets/images/footlogo.png" alt=""></a>
            <p class="copyright">© Copyright 2020.</p>
          </div>
           <div class="footer-item footer-feature">
            <h3>FEATURES</h3>
            <ul>
              <li><a href="#">API</a></li>
              <li><a href="#">Giveback</a></li>
              <li><a href="#">Claims</a></li>
              <li><a href="#">Homeowners Insurance</a></li>
            </ul>
           </div>

           <div class="footer-item footer-resources">
            <h3>RESOURCES</h3>
            <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">FAQ</a></li>              
              <li><a href="#">Community</a></li>
              <li><a href="#">Transparency</a></li>
              <li><a href="#">Where We're Live</a></li>
              <li><a href="#">Insurance Dictionary</a></li>
              <li><a href="#">Investor Relations</a></li>
             
            </ul>
           </div>

           <div class="footer-item footer-company">
            <h3>COMPANY</h3>
            <ul>
              <li><a href="#">Join the Team</a></li>
              <li><a href="#">Legal Stuff</a></li>
              <li><a href="#">Privacy Pledge</a></li>
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Accessibility</a></li>
              <li><a href="#">Partners Program</a></li>
              <li><a href="#">Reviews</a></li>
            </ul>
           </div>

           <div class="footer-item footer-region">
              <div class="languagewrap">
                <h3>REGION</h3>
                <img src="assets/images/regionic.png" alt="">
              </div>
              <div class="app-download">
                <h3>GET OUR APP</h3>
                <ul>
                  <li><a href="#"><img src="assets/images/app-storeic.png" alt=""></a></li>
                  <li><a href="#"><img src="assets/images/googleplay.png" alt=""></a></li>
                </ul>
              </div>
              <div class="socialsec">
                <h3>FOLLOW US</h3>
                <ul>
                  <li><a href="#"><img src="assets/images/facebook.svg" alt=""></a></li>
                  <li><a href="#"><img src="assets/images/twitter.svg" alt=""></a></li>
                  <li><a href="#"><img src="assets/images/instagram.svg" alt=""></a></li>
                  <li><a href="#"><img src="assets/images/linked.svg" alt=""></a></li>
                </ul>
              </div>
           </div>
        </div>
      </div>
   </div>

   <div class="footer-shape">
    <span class="footer-cloud1"><img src="assets/images/already-insured-cloud1.png" alt=""></span>
    <span class="footer-cloud2"><img src="assets/images/already-insured-cloud2.png" alt=""></span>

    <span class="footer-tree1">
      <img src="assets/images/already-insured-rightimg.png" alt="">
      <img src="assets/images/smalltree1.svg" alt="" class="hatching2">
    </span>

    <span class="footer-tree2">
      <img src="assets/images/tree3.svg" alt="" class="hatching">
      <img src="assets/images/smalltree1.svg" alt="" class="hatching2">
    </span>
   </div>
   <div class="chatbox">
    <img src="assets/images/chatwithus.png" alt="">
   </div>
 </footer>


